[package]
name = "tabs"
edition = "2018"
version = "0.1.0"
authors = ["application-services@mozilla.com"]
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[features]
default = []

[dependencies]
sync15 = { path = "../sync15" }
serde = "1"
serde_derive = "1"
serde_json = "1"
lazy_static = "1.4"
log = "0.4"
url = "2.2"
error-support = { path = "../support/error" }
interrupt-support = { path = "../support/interrupt" }
sync-guid = { path = "../support/guid", features = ["random"] }
thiserror = "1.0"
anyhow = "1.0"
uniffi = "^0.14.0"
uniffi_macros = "^0.14"

[build-dependencies]
uniffi_build = { version = "^0.14.0", features = [ "builtin-bindgen" ]}
