[package]
name = "tabs"
edition = "2021"
version = "0.1.0"
authors = ["Sync Team <sync-team@mozilla.com>"]
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[dependencies]
anyhow = "1.0"
error-support = { path = "../support/error" }
interrupt-support = { path = "../support/interrupt" }
payload-support = { path = "../support/payload" }
lazy_static = "1.4"
log = "0.4"
rusqlite = { version = "0.33.0", features = ["bundled", "unlock_notify"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
sql-support = { path = "../support/sql" }
sync-guid = { path = "../support/guid", features = ["random"] }
sync15 = { path = "../sync15", features = ["sync-engine"] }
thiserror = "1.0"
uniffi = { version = "0.28.2" }
url = "2"
types = { path = "../support/types" }

[dev-dependencies]
env_logger = { version = "0.10.0", default-features = false, features = ["humantime"] }
tempfile = "3.1"

[build-dependencies]
uniffi = { version = "0.28.2", features=["build"]}

# Temp hack for uniffi 0.28 generated code, will not be necessary after next uniffi update.
[lints.clippy]
empty-line-after-doc-comments = "allow"
