[package]
name = "tabs"
edition = "2021"
version = "0.1.0"
authors = ["Sync Team <sync-team@mozilla.com>"]
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[dependencies]
anyhow = "1.0"
error-support = { path = "../support/error" }
interrupt-support = { path = "../support/interrupt" }
payload-support = { path = "../support/payload" }
lazy_static = "1.4"
rusqlite = { version = "0.37.0", features = ["bundled", "unlock_notify"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
sql-support = { path = "../support/sql" }
sync-guid = { path = "../support/guid", features = ["random"] }
sync15 = { path = "../sync15", features = ["sync-engine"] }
thiserror = "2"
uniffi = { version = "0.31" }
url = "2"
types = { path = "../support/types" }

[dev-dependencies]
error-support = { path = "../support/error", features=["testing"] }
tempfile = "3.1"

[build-dependencies]
uniffi = { version = "0.31", features=["build"]}
