[package]
name = "tabs"
edition = "2021"
version = "0.1.0"
authors = ["Sync Team <sync-team@mozilla.com>"]
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[dependencies]
anyhow = "1.0"
error-support = { path = "../support/error" }
interrupt-support = { path = "../support/interrupt" }
lazy_static = "1.4"
log = "0.4"
rusqlite = { workspace = true, features = ["bundled", "unlock_notify"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
sql-support = { path = "../support/sql" }
sync-guid = { path = "../support/guid", features = ["random"] }
sync15 = { path = "../sync15", features = ["sync-engine"] }
thiserror = "1.0"
uniffi = { workspace = true }
url = "2.5"

[dev-dependencies]
env_logger = { version = "0.10", default-features = false, features = ["humantime"] }
tempfile = "3.1"

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }
