[package]
name = "tabs"
edition = "2018"
version = "0.1.0"
authors = ["application-services@mozilla.com"]
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[features]
default = []

[dependencies]
sync15 = { path = "../sync15" }
serde = "1"
serde_derive = "1"
serde_json = "1"
log = "0.4"
url = "2.1"
prost = "0.6"
prost-derive = "0.6"
ffi-support = "0.4"
error-support = { path = "../support/error" }
interrupt-support = { path = "../support/interrupt" }
sync-guid = { path = "../support/guid", features = ["random"] }
thiserror = "1.0"
anyhow = "1.0"

[dev-dependencies]
clipboard = "0.5"
clap = "2.33"
cli-support = { path = "../support/cli" }
viaduct-reqwest = { path = "../support/viaduct-reqwest" }
