[package]
name = "sync-test"
version = "0.1.0"
authors = ["Thom Chiovoloni <tchiovoloni@mozilla.com>"]
edition = "2021"
license = "MPL-2.0"

[dependencies]
viaduct-reqwest = { path = "../../components/support/viaduct-reqwest" }
viaduct = { path = "../../components/viaduct"}
autofill = { path = "../../components/autofill" }
logins = { path = "../../components/logins" }
sync15 = { path = "../../components/sync15" }
sync_manager = { path = "../../components/sync_manager" }
restmail-client = { path = "../../components/support/restmail-client" }
tabs = { path = "../../components/tabs", features = ["full-sync"] }
fxa-client = { path = "../../components/fxa-client" }
sync-guid = { path = "../../components/support/guid", features = ["rusqlite_support", "random"]}
interrupt-support = { path = "../../components/support/interrupt" }
url = "2.2"
env_logger = "0.7"
log = "0.4"
anyhow = "1.0"
rand = "0.8"
lazy_static = "1.4"
structopt = "0.3"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
base64 = "0.13"
cli-support = { path = "../../examples/cli-support" }
