[*.{kt,kts}]
ij_kotlin_allow_trailing_comma_on_call_site=true
ij_kotlin_allow_trailing_comma=true
insert_final_newline = true

ktlint_argument_list_wrapping_ignore_when_parameter_count_greater_or_equal_than = 13
ktlint_function_naming_ignore_when_annotated_with=Composable

# disabled rules we should decide whether to enable or not
ktlint_standard_annotation = disabled
ktlint_standard_blank-line-before-declaration = disabled
ktlint_standard_blank-line-between-when-conditions = disabled
ktlint_standard_chain-method-continuation = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_enum-wrapping = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_if-else-wrapping = disabled
ktlint_standard_indent = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_no-empty-first-line-in-class-body = disabled
ktlint_standard_statement-wrapping = disabled
ktlint_standard_string-template-indent = disabled
ktlint_standard_when-entry-bracing = disabled

# rules that enforce style we don't want
ktlint_standard_backing-property-naming = disabled # it would force making backed properties public.
ktlint_standard_expression-operand-wrapping = disabled # noisy and doesn't improve readability much
ktlint_standard_max-line-length = disabled # already enabled in detekt
ktlint_standard_no-consecutive-comments = disabled # it would limit one line comments to one per line
