language: rust
os: osx
osx_image:
  - xcode10.1
rust:
  - stable
  - beta
  - nightly
matrix:
  allow_failures:
    - rust: nightly
  fast_finish: true
env:
  global:
    - FRAMEWORK_NAME=ApplicationServices.framework.zip
before_install:
  - brew install sqlcipher --with-fts
  - brew update
  - brew outdated carthage || brew upgrade carthage
  - rustup target add aarch64-apple-ios
  - rustup target add armv7-apple-ios
  - rustup target add i386-apple-ios
  - rustup target add x86_64-apple-ios
  - cargo install cargo-lipo
before_deploy:
  - carthage build --no-skip-current
  - carthage archive $FRAMEWORK_NAME
  - rm -rf Carthage
script:
  # Test with 1. only default features on, 2. all features on, 3. no features on.
  # This is not perfect (really we want the cartesian product), but is good enough in practice.
  - cargo test --all --verbose
  - cargo test --all --all-features --verbose
  - cargo test --all --no-default-features --verbose

jobs:
  include:
    - stage: Carthage framework GitHub Release
      if: tag IS present
      rust: stable
      osx_image: xcode10.1
      deploy:
        provider: releases
        api_key:
          secure: PEbRLdoGVRgx6jlfvp8LzG/SRbVspWkVn3jpjkdy7jjeZ/BHsy8LSQhw37IcydqrtmCFPJBVLx1Uw0cj4H7qfVD5eSg7m6L/mXIJ+pXmhxtGVlD2IF+sNQDPgWs8DZ4diHkSntw5oSekvisT5yi3IaTP/2y9LvLBB9oJnZtaYT27Rv0B8hQN0/Etfr69i6yhNwlcfuBJ0BmVN2gMNCPydR9Xeq050AEpsVoPkFL3m5Xy7n6sUJ/DAOM0lBr4hUp2jP5ciPd3iwo1fndGvuzVFpxGdnH2DSHgD4mo2AF8vcrecr9Fkax9yxMHC5Ua2+9c4Z69fx19rP8DyKsJDR8wmPIa9fwEabgEmgTu4HRNC6Y9VCGuM7CTZMTv1iVwdV3q33K9eJtI4tBjwQyaon9owVrHBZQXB4+KqP2/Id/v0PDp3WhEN9YQQGn/HF+IvcjTMDvdkaj3q34pqbocfOpWFcTO83aQX/JYkYHKq0r1mGrPDKfTrdIBUg26jtrI64KflyXENOvU95jW3TfcwljOOsXnuI2Owov619CqJXpvyJ62CAoagRFdPRbi3VARC4mGZt/PBz1FxlDWydOMmJnK242RXapAWcRMsEVK7Mowj/+IFSD4OTF57aP66gkn4tNh/5qx0RPcwcMEpFPM9bTim3vecN15dB0f5MZelkbr7Gw=
        file: $FRAMEWORK_NAME
        skip_cleanup: true
        overwrite: true
        on:
          tags: true
