[workspace]
members = [
    "fxa-client",
    "fxa-client/ffi",
    "sandvich/desktop",
    "sync15-adapter",
    "logins-sql",
    "logins-sql/ffi",
    "components/places",
    "components/places/ffi",
    "components/support/sql",
    "components/support/ffi",
]

[profile.release]
opt-level = "z"
debug = true
lto = true
