[workspace]
members = [
    "components/fxa-client",
    "components/fxa-client/ffi",
    "components/logins",
    "components/logins/ffi",
    "components/places",
    "components/places/ffi",
    "components/push",
    "components/push/ffi",
    "components/rc_log",
    "components/remerge",
    "components/support/cli",
    "components/support/error",
    "components/support/ffi",
    "components/support/force-viaduct-reqwest",
    "components/support/guid",
    "components/support/interrupt",
    "components/support/rc_crypto",
    "components/support/rc_crypto/nss",
    "components/support/rc_crypto/nss/nss_build_common",
    "components/support/rc_crypto/nss/nss_sys",
    "components/support/sql",
    "components/sync_manager",
    "components/sync_manager/ffi",
    "components/sync15",
    "components/tabs",
    "components/tabs/ffi",
    "components/viaduct",
    "megazords/fenix",
    "megazords/full",
    "megazords/ios/rust",
    "megazords/lockbox",
    "testing/sync-test",
]

[profile.release]
opt-level = "s"
debug = true
lto = true

# Without the change in https://github.com/jgallagher/rusqlite/pull/608, it
# would be very hard (I can't think of hoq) for remerge to both avoid the NSS
# dep and keep `cargo test` from the root of a-s working. This is just the
# bindgen crate more or less, so it seems fine to me to use a rev while we wait
# for a release.
[patch.crates-io.libsqlite3-sys]
git = 'https://github.com/jgallagher/rusqlite.git'
rev = '844839d9a54fc32874d31002a6f976b06e59049b'
