[workspace]
members = [
    "components/fxa-client",
    "components/fxa-client/ffi",
    "components/logins",
    "components/logins/ffi",
    "components/places",
    "components/places/ffi",
    "components/support/sql",
    "components/support/ffi",
    "components/sync15",
    "megazords/lockbox",
    "megazords/reference-browser",
    "testing/sync-test",
]

[profile.release]
opt-level = "z"
debug = true
lto = true
