[package]
name = "logins"
edition = "2018"
version = "0.1.0"
authors = ["Thom Chiovoloni <tchiovoloni@mozilla.com>"]

[features]
ffi = ["ffi-support"]
default = []

[dependencies]
sync15 = { path = "../sync15" }
serde = "1.0.79"
serde_derive = "1.0.79"
serde_json = "1.0.28"
log = "0.4.6"
lazy_static = "1.1.0"
url = "1.7.1"
failure = "0.1.3"
sql-support = { path = "../support/sql" }
ffi-support = { path = "../support/ffi", optional = true }

[dependencies.rusqlite]
version = "0.16.0"
features = ["sqlcipher", "limits"]

[dev-dependencies]
more-asserts = "0.2.1"
env_logger = "0.5.13"
prettytable-rs = "0.7.0"
fxa-client = { path = "../fxa-client" }
webbrowser = "0.3.1"
chrono = "0.4.6"
clap = "2.32.0"
