[package]
name = "fxaclient_ffi"
edition = "2018"
version = "0.1.0"
authors = ["Edouard Oger <eoger@fastmail.com>"]

[lib]
name = "fxaclient_ffi"
crate-type = ["lib", "staticlib", "cdylib"]

[dependencies]
ffi-support = { path = "../../support/ffi" }

[dependencies.fxa-client]
path = "../"
features = ["ffi"]

[features]
browserid = ["fxa-client/browserid"]
