[package]
name = "as-ohttp-client"
version = "0.1.0"
edition = "2021"
authors = ["Ted Campbell <tcampbell@mozilla.com>"]
description = "An Oblivious HTTP client for iOS applications"
license = "MPL-2.0"
exclude = ["/ios"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uniffi = { version = "0.28.2" }
thiserror = "1.0"
bhttp = "0.3"
parking_lot = "0.12"
rusqlite = { version = "0.33.0", features = ["bundled"] }

[dependencies.ohttp]
version = "0.5.1"
default-features = false
git = "https://github.com/martinthomson/ohttp.git"
rev = "bf02e480d4722f9fba38a4245168d1a82f8fac6c"
features = ["client", "server", "app-svc", "external-sqlite"]

[build-dependencies]
uniffi = { version = "0.28.2", features=["build"]}

# Temp hack for uniffi 0.28 generated code, will not be necessary after next uniffi update.
[lints.clippy]
empty-line-after-doc-comments = "allow"
