[package]
name = "as-ohttp-client"
version = "0.1.0"
edition = "2021"
authors = ["Ted Campbell <tcampbell@mozilla.com>"]
description = "An Oblivious HTTP client for iOS applications"
license = "MPL-2.0"
exclude = ["/ios"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
uniffi = "0.25.2"
thiserror = "1.0"
bhttp = "0.3"
parking_lot = "0.12"
rusqlite = { version = "0.29.0", features = ["bundled"] }

[dependencies.ohttp]
version = "0.4"
default-features = false
git = "https://github.com/martinthomson/ohttp.git"
rev = "fc3f4c787d1f6a6a87bf5194f7152cc906b02973"
features = ["client", "server", "app-svc", "external-sqlite"]

[build-dependencies]
uniffi = { version = "0.25.2", features=["build"]}
