version: 2.1

commands:
  install-rust:
    steps:
      - run:
          name: Install Rust
          command: |
            curl https://sh.rustup.rs -sSf | sh -s -- -y
            echo 'export PATH="$HOME/.cargo/bin:$PATH"' >> $BASH_ENV
  setup-rust-toolchain:
    parameters:
      rust-version:
        type: string
        default: "stable"
    steps:
      - run:
          name: Setup Rust toolchain
          command: |
            rustup install <<parameters.rust-version>>
            rustup default <<parameters.rust-version>>
            rustc --version
  build-libs:
    parameters:
      platform:
        type: string
    steps:
      - run: echo "$(git rev-parse HEAD:libs)" >| libs_sha
      - restore_cache:
          name: Restore libs cache
          keys:
            - libs-cache-{{ arch }}-{{ checksum "libs_sha" }}
      - run:
          name: Build libs
          command: |
            pushd libs && ./build-all.sh <<parameters.platform>> && popd
      - save_cache:
          name: Save libs cache
          key: libs-cache-{{ arch }}-{{ checksum "libs_sha" }}
          paths:
            - libs/<<parameters.platform>>
  build-desktop-libs:
    steps:
      - run: sudo apt-get install tcl
      - build-libs:
          platform: desktop
  test-setup:
    parameters:
      rust-version:
        type: string
        default: "stable"
    steps:
      - checkout
      - build-desktop-libs
      - setup-rust-toolchain:
          rust-version: <<parameters.rust-version>>
      - run: |
          echo 'export OPENSSL_DIR=$(pwd)/libs/desktop/linux-x86-64/openssl' >> $BASH_ENV
          echo 'export SQLCIPHER_LIB_DIR=$(pwd)/libs/desktop/linux-x86-64/sqlcipher/lib' >> $BASH_ENV
          echo 'export SQLCIPHER_INCLUDE_DIR=$(pwd)/libs/desktop/linux-x86-64/sqlcipher/include' >> $BASH_ENV
  rust-tests:
    parameters:
      rust-version:
        type: string
        default: "stable"
    steps:
      - test-setup:
          rust-version: <<parameters.rust-version>>
      # Test with 1. only default features on, 2. all features on, 3. no features on.
      # This is not perfect (really we want the cartesian product), but is good enough in practice.
      - run:
          name: Test
          command: cargo test --all --verbose
      - run:
          name: Test (all features)
          command: cargo test --all --all-features --verbose
      - run:
          name: Test (no default features)
          command: cargo test --all --no-default-features --verbose
  sync-tests:
    steps:
      - test-setup
      - run:
          name: Install Node.js
          command: |
            curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
            sudo apt-get install -y nodejs
      - run:
          name: Sync Integration Test Suite
          command: cargo run -p sync-test -- --oauth-retries 5
  bench-all:
    steps:
      - test-setup
      - run:
          name: Build and Run Benchmarks
          command: cargo bench --all

jobs:
  Check Rust formatting:
    docker:
      - image: circleci/rust:latest
    steps:
      - checkout
      - run: rustup component add rustfmt
      - run: rustfmt --version
      - run: cargo fmt -- --check
  Rust tests - stable:
    docker:
      - image: circleci/rust:latest
    # We have to use a machine with more RAM for tests so we don't run out of memory.
    resource_class: medium+
    steps:
      - rust-tests
  Rust tests - beta:
    docker:
      - image: circleci/rust:latest
    resource_class: medium+
    steps:
      - rust-tests:
          rust-version: "beta"
  Sync integration tests:
    docker:
      - image: circleci/rust:latest-browsers
    steps:
      - sync-tests
  Rust benchmarks:
    docker:
      - image: circleci/rust:latest
    steps:
      - bench-all
  Build Carthage archive:
    macos:
      xcode: "10.1.0"
    steps:
      - install-rust
      - setup-rust-toolchain
      - checkout
      - restore_cache:
          key: rust-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
      - build-libs:
          platform: ios
      - run:
          name: Build Carthage archive
          command: |
            rustup target add aarch64-apple-ios armv7-apple-ios i386-apple-ios x86_64-apple-ios
            cargo lipo --help > /dev/null || cargo install cargo-lipo
            brew update && (brew outdated carthage || brew upgrade carthage)
            brew install swift-protobuf
            carthage bootstrap --platform iOS --verbose
            carthage build --platform iOS --no-skip-current --verbose
            carthage archive --output ApplicationServices.framework.zip
            rm -rf Carthage
      - save_cache:
          key: rust-cache-{{ arch }}-{{ checksum "Cargo.lock" }}
          paths:
            - "./target"
      - persist_to_workspace:
          root: .
          paths:
            - ApplicationServices.framework.zip
  Release Carthage archive:
    macos:
      xcode: "10.1.0"
    steps:
      - attach_workspace:
          at: $CIRCLE_WORKING_DIRECTORY
      - run:
          name: Release Carthage archive on GitHub
          command: |
            gem install dpl
            dpl --provider=releases --api-key=${GITHUB_TOKEN} --file=ApplicationServices.framework.zip --overwrite

workflows:
  version: 2
  check-formating:
    jobs:
      - Check Rust formatting
  run-tests:
    jobs:
      - Rust tests - stable
      - Rust tests - beta
      - Rust benchmarks
      - Sync integration tests
  carthage-framework:
    jobs:
      - Build Carthage archive
      - Release Carthage archive:
          requires:
            - Build Carthage archive
          filters:
            tags:
              only: /^ios.*/
              # only: /^v.*/
