[package]
name = "push-ffi"
edition = "2018"
version = "0.1.0"
authors = ["jrconlin <me+crypt@jrconlin.com>", "Phil Jenvey <pjenvey@underboss.org>"]
license = "MPL-2.0"

[lib]
name = "push_ffi"
crate-type = ["lib", "staticlib", "cdylib"]

[dependencies]
serde_json = "1.0.28"
log = "0.4"
url = "1.7.1"
ffi-support = { path = "../../support/ffi" }
lazy_static = "1.3.0"
base64 = "0.10"
push = { path = ".." }
viaduct = { path = "../../viaduct" }

[dependencies.rusqlite]
version = "0.17.0"
features = ["limits", "functions"]

[dependencies.sync15]
path = "../../sync15"

[features]
reqwest = ["viaduct/reqwest", "push/reqwest"]

[target.'cfg(target_os = "android")'.dependencies]
android_logger = "0.7.0"
