[package]
name = "sql-support"
edition = "2018"
version = "0.1.0"
authors = ["Thom Chiovoloni <tchiovoloni@mozilla.com>"]
build = "../../../build.rs"

[features]
default = ["sqlcipher"]
sqlcipher = ["rusqlite/sqlcipher"]

[dependencies]
log = "0.4"
lazy_static = "1.1.0"

[dependencies.rusqlite]
version = "0.14.0"
features = ["functions", "limits"]
