[package]
name = "types"
version = "0.1.0"
authors = ["Sync Team <sync-team@mozilla.com>"]
edition = "2021"
license = "MPL-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rusqlite = { version = "0.33.0", features = ["functions", "bundled"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
