[package]
name = "nss_sys"
version = "0.1.0"
authors = ["Sync Team <sync-team@mozilla.com>"]
edition = "2021"
license = "MPL-2.0"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(__appsvc_ci_hack)'] }

[lib]
crate-type = ["lib"]

[dependencies]
libsqlite3-sys = { version = "0.31.0", features = ["bundled"] }

[build-dependencies]
nss_build_common = {path = "../nss_build_common"}

[features]
default = []
gecko = []
