[package]
name = "nss_sys"
version = "0.1.0"
authors = ["application-services@mozilla.com"]
edition = "2018"
license = "MPL-2.0"

[lib]
crate-type = ["lib"]

[build-dependencies]
bindgen = "0.51.0"
serde = "1.0.99"
serde_derive = "1.0.99"
toml = "0.5.3"
