[package]
name = "viaduct"
version = "0.1.0"
authors = ["Thom Chiovoloni <tchiovoloni@mozilla.com>"]
edition = "2021"
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[lib]
crate-type = ["lib"]

[dependencies]
async-trait = "0.1"
error-support = { path = "../support/error" }
url = "2"
serde = "1"
serde_json = "1"
once_cell = "1.5"
parking_lot = { version = ">=0.11,<=0.12" }
pollster = "0.3.0"
prost = "0.13"
ffi-support = "0.4"
thiserror = "2"
uniffi = { version = "0.29.0" }
tokio = { version = "1", features = ["rt-multi-thread"], optional = true }
hyper = { version = "0.14", features = ["client", "http1", "http2", "tcp"], optional = true }
bhttp = { git = "https://github.com/gruberb/ohttp.git", rev = "d4b387830e239c012463756c769b9d67a3d10dfe", optional = true }
ohttp = { git = "https://github.com/gruberb/ohttp.git", rev = "d4b387830e239c012463756c769b9d67a3d10dfe", features = ["client", "server", "app-svc", "external-sqlite"], default-features = false, optional = true }

[features]
default = []
backend-dev = ["dep:tokio", "dep:hyper"]
ohttp = ["dep:bhttp", "dep:ohttp"]
