[package]
name = "viaduct"
version = "0.1.0"
authors = ["Thom Chiovoloni <tchiovoloni@mozilla.com>"]
edition = "2021"
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[lib]
crate-type = ["lib"]

[dependencies]
error-support = { path = "../support/error" }
url = "2"
serde = "1"
serde_json = "1"
once_cell = "1.5"
parking_lot = { version = ">=0.11,<=0.12" }
prost = "0.12"
ffi-support = "0.4"
thiserror = "2"
