[package]
name = "error-support"
version = "0.1.0"
authors = ["Thom Chiovoloni <tchiovoloni@mozilla.com>"]
edition = "2021"
license = "MPL-2.0"
autotests = false
exclude = ["/android"]

[dependencies]
backtrace = { version = "0.3", optional = true}
error-support-macros = { path = "macros" }
env_logger = { version = "0.10", default-features = false }
lazy_static = { version = "1.4" }
log = { version = "0.4" }
parking_lot = { version = ">=0.11,<=0.12" }
tracing = { version = "0.1", optional = true }
tracing-support = { path = "../tracing" }
uniffi = { git = "https://github.com/mozilla/uniffi-rs.git", rev = "106e12ae2a0474a1880667ed3a4b050fcf1c6666" }

[build-dependencies]
uniffi = { git = "https://github.com/mozilla/uniffi-rs.git", rev = "106e12ae2a0474a1880667ed3a4b050fcf1c6666", features=["build"]}

[features]
backtrace = ["dep:backtrace"]
testing = []
