[package]
name = "push"
edition = "2018"
version = "0.1.0"
authors = ["jrconlin <me+crypt@jrconlin.com>", "Phil Jenvey <pjenvey@underboss.org>"]
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[features]
default = []

[dependencies]
serde = "1"
serde_derive = "1"
serde_json = "1"
bincode = "1.2"
lazy_static = "1.4"
base64 = "0.12"
log = "0.4"
rusqlite = { version = "0.23.1", features = ["bundled", "unlock_notify"] }
url = "2.1"
viaduct = { path = "../viaduct" }
ffi-support = "0.4"
sql-support = { path = "../support/sql" }
error-support = { path = "../support/error" }
rc_crypto = { path = "../support/rc_crypto", features = ["ece"] }
prost = "0.6"
prost-derive = "0.6"
thiserror = "1.0"

[dev-dependencies]
mockito = "0.27"
hex = "0.4"
viaduct-reqwest = { path = "../support/viaduct-reqwest" }
