[package]
name = "push"
edition = "2021"
version = "0.1.0"
authors = ["jrconlin <me+crypt@jrconlin.com>", "Phil Jenvey <pjenvey@underboss.org>"]
license = "MPL-2.0"
exclude = ["/android", "/ios"]

[dependencies]
serde = "1"
serde_derive = "1"
serde_json = "1"
bincode = "1.2"
lazy_static = "1.4"
base64 = "0.13"
log = "0.4"
rusqlite = { version = "0.28.0", features = ["bundled", "unlock_notify"] }
url = "2.2"
viaduct = { path = "../viaduct" }
error-support = { path = "../support/error" }
sql-support = { path = "../support/sql" }
rc_crypto = { path = "../support/rc_crypto", features = ["ece"] }
thiserror = "1.0"
uniffi = "^0.21"
uniffi_macros = "^0.21"

[build-dependencies]
uniffi_build = { version = "^0.21", features=["builtin-bindgen"] }


[dev-dependencies]
env_logger = { version = "0.8", default-features = false, features = ["termcolor", "atty", "humantime"] }
mockito = "0.31"
hex = "0.4"
tempfile = "3.1.0"
viaduct-reqwest = { path = "../support/viaduct-reqwest" }
