[package]
name = "push"
edition = "2018"
version = "0.1.0"
authors = ["jrconlin <me+crypt@jrconlin.com>", "Phil Jenvey <pjenvey@underboss.org>"]
license = "MPL-2.0"

[features]
reqwest = ["viaduct/reqwest"]
default = []

[dependencies]
serde = "1.0.97"
serde_derive = "1.0.98"
serde_json = "1.0.40"
bincode = "1.1.4"
lazy_static = "1.3.0"
base64 = "0.10.1"
failure = "0.1.5"
failure_derive = "0.1.5"
log = "0.4.7"
rusqlite = { version = "0.19.0", features = ["bundled"] }
url = "1.7.2"
viaduct = { path = "../viaduct" }
ffi-support = { path = "../support/ffi" }
sql-support = { path = "../support/sql" }
error-support = { path = "../support/error" }
rc_crypto = { path = "../support/rc_crypto", features = ["ece"] }

[dev-dependencies]
env_logger = "0.6.2"
mockito = "0.19.0"
hex = "0.3.2"
force-viaduct-reqwest = { path = "../support/force-viaduct-reqwest" }

