[package]
name = "push"
edition = "2018"
version = "0.1.0"
authors = ["jrconlin <me+crypt@jrconlin.com>", "Phil Jenvey <pjenvey@underboss.org>"]
license = "MPL-2.0"

[features]
reqwest = ["viaduct/reqwest"]
default = []

[dependencies]
serde = "1.0.90"
serde_derive = "1.0.90"
serde_json = "1.0.39"
lazy_static = "1.3.0"
openssl = "0.10.20"
base64 = "0.10.1"
ece = "0.1.3"
failure = "0.1.5"
failure_derive = "0.1.5"
log = "0.4.6"
rusqlite = { version = "0.17.0", features = ["bundled"] }
url = "1.7.2"
viaduct = { path = "../viaduct" }
ffi-support = { path = "../support/ffi" }
sql-support = { path = "../support/sql" }
rc_crypto = { path = "../support/rc_crypto" }

[dev-dependencies]
env_logger = "0.6.1"
mockito = "0.17.0"
hex = "0.3.2"
force-viaduct-reqwest = { path = "../support/force-viaduct-reqwest" }

