[package]
name = "example-autofill-utils"
version = "0.1.0"
authors = ["sync-team@mozilla.com"]
license = "MPL-2.0"
edition = "2021"
publish = false

[[example]]
name = "autofill-utils"
path = "src/autofill-utils.rs"

[dev-dependencies]
anyhow = "1.0"
autofill = { path = "../../components/autofill" }
clap = { version = "4.2", default-features = false, features = ["std", "derive"] }
cli-support = { path = "../cli-support" }
fxa-client = { path = "../../components/fxa-client" }
error-support = { path = "../../components/support/error" }
interrupt-support = { path = "../../components/support/interrupt" } # XXX - should be removed once we do interrupts correctly!
nss = { path = "../../components/support/rc_crypto/nss" }
log = "0.4"
rusqlite = { version = "0.37.0", features = ["functions", "bundled", "serde_json", "unlock_notify"]}
serde_json = "1"
sql-support = { path = "../../components/support/sql" }
sync-guid = { path = "../../components/support/guid", features = ["rusqlite_support", "random"] }
sync15 = { path = "../../components/sync15" }
viaduct = { path = "../../components/viaduct"}
viaduct-hyper = { path = "../../components/support/viaduct-hyper"}
