[package]
name = "fxa-client"
version = "0.1.0"
authors = ["Edouard Oger <eoger@fastmail.com>"]

[dependencies]
base64 = "0.9.0"
byteorder = "1.2.3"
failure = "0.1.1"
failure_derive = "0.1.1"
hawk = { git = "https://github.com/eoger/rust-hawk", branch = "use-ring-latest", optional = true }
hex = "0.3.1"
lazy_static = "1.0.0"
log = "0.4"
openssl = { version = "0.10.7", optional = true }
regex = "1.0.0"
reqwest = "0.8.2"
ring = "0.13.0-alpha5"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
untrusted = "0.6.2"
url = "1.6.0"

[features]
browserid = ["openssl", "hawk"]
