[package]
name = "jwcrypto"
version = "0.1.0"
authors = ["Edouard Oger <eoger@fastmail.com>"]
edition = "2021"
license = "MPL-2.0"

[lib]
crate-type = ["lib"]

[dependencies]
base64 = "0.21"
error-support = { path = "../error" }
rc_crypto = { path = "../rc_crypto" }
serde = "1"
serde_derive = "1"
serde_json = "1"
thiserror = "2"

[dev-dependencies]
nss = { path = "../rc_crypto/nss" }
