[bindings.kotlin]
package_name = "org.mozilla.experiments.nimbus.internal"
cdylib = "megazord"

[bindings.kotlin.custom_types.JsonObject]
# Name of the type in the Kotlin code
type_name = "JSONObject"
# Classes that need to be imported
imports = [ "org.json.JSONObject" ]
# Functions to convert between strings and URLs
into_custom = "JSONObject({})"
from_custom = "{}.toString()"

[bindings.kotlin.external_packages]
# Map from [External={crate-name}] into Kotlin package names
remote_settings = "mozilla.appservices.remotesettings"

[bindings.swift]
ffi_module_name = "MozillaRustComponents"
ffi_module_filename = "nimbusFFI"
generate_module_map = false

[bindings.python]
cdylib_name = "cirrus"