[package]
name = "fxa-client"
edition = "2018"
version = "0.1.0"
authors = ["Edouard Oger <eoger@fastmail.com>"]

[dependencies]
base64 = "0.9.3"
byteorder = "1.2.6"
bytes = "0.4"
failure = "0.1.3"
hawk = { version = "1.0.5", optional = true }
hex = "0.3.2"
lazy_static = "1.0.0"
log = "0.4"
openssl = { version = "0.10.12", optional = true }
prost = "0.4"
prost-derive = "0.4"
regex = "1.0.0"
reqwest = "0.9.7"
ring = "0.14.5"
serde = { version = "1.0.79", features = ["rc"] }
serde_derive = "1.0.79"
serde_json = "1.0.28"
untrusted = "0.6.2"
url = "1.7.1"
ffi-support = { path = "../support/ffi", features = ["prost_support"], optional = true }

[dev-dependencies]
text_io = "0.1.7"

[build-dependencies]
prost-build = "0.4"

[features]
browserid = ["openssl", "hawk"]
ffi = ["ffi-support"]
default = ["ffi"]
