[package]
name = "relevancy"
edition = "2021"
version = "0.1.0"
license = "MPL-2.0"
exclude = ["/android", "/ios"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
error-support = { path = "../support/error" }
interrupt-support = { path = "../support/interrupt" }
sql-support = { path = "../support/sql" }
log = "0.4"
md-5 = "0.10"
parking_lot = ">=0.11,<=0.12"
rusqlite = { workspace = true, features = ["bundled"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_path_to_error = "0.1"
thiserror = "1.0"
uniffi = { workspace = true }
url = "2.5"
remote_settings = { path = "../remote_settings"}
viaduct-reqwest = { path = "../support/viaduct-reqwest" }
base64 = "0.21.2"

[build-dependencies]
uniffi = { workspace = true, features = ["build"] }

[lib]

[[bin]]
name = "generate-test-data"
